extends layout

block content
  #container.main
    #video.video
      <embed src="http://player.youku.com/player.php/sid/XNzQ3ODU5OTgw/v.swf" allowFullScreen="true" quality="high" width="400" height="320" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>