body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  background: url(../images/background.png);
}

.video {
  top: 360px;
  left: 360px;
  background: red;
  width: 400px;
  height: 200px;
  position: relative;
}